/*loader home*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
.loader__logo {
  font-family: "shrikhand";
  font-size: 40px;
  color: #ce56dc;
  animation: jump 2s;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.04s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__points {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 2s;
}
.loader__pointsContainer {
  margin-left: 40px;
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__points--1 {
  background-color: #9356DC;
}
.loader__points--2 {
  background-color: #FF79DA;
  animation-delay: 0.5s;
}
.loader__points--3 {
  background-color: #99E2D0;
  animation-delay: 1s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/*animations menu*/
@keyframes slideDown {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.infos:hover {
  animation: checkbox-contain ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 50px;
}

@keyframes checkbox-contain {
  0% {
    transform: translate(40px, 0);
  }
  100% {
    transform: translate(-20px, 0);
  }
}
.menu__details {
  animation: fade-in-meal-card 4s;
}

@keyframes fade-in-meal-card {
  0% {
    opacity: 0;
    margin-top: 15px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
h4, p {
  margin: 0px;
  font-weight: 200;
}

body {
  font-family: "roboto", "cursive";
  margin: 0px;
}

main {
  background-color: #F2F2F2;
  margin-top: 10px;
}

h1, h2 {
  font-family: "roboto";
  font-weight: 500;
}

.top__title {
  font-family: "shrikhand";
}

a {
  text-decoration: none;
  font-family: "roboto bold";
  color: black;
}

.menu__container h4 {
  font-weight: 700;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-color: #f6f6f6;
}

.howto {
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
}
.howto__title {
  padding: 10px;
}
.howto__icon {
  font-size: 20px;
  color: #7a7979;
  margin: 20px;
}
.howto p {
  font-size: 18px;
}
.howto__steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin: 0px;
}
.howto li {
  background-color: #f6f6f6;
  padding: 0px;
  border-radius: 20px;
  padding-right: 35px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
}
.howto li i {
  width: 10%;
}
.howto ol {
  counter-reset: numberlist;
}
.howto ol li {
  margin: 4px;
  counter-increment: numberlist;
  position: relative;
  list-style: none;
}
.howto ol li::before {
  content: counter(numberlist);
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 18px;
  left: -10px;
}

.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 10px;
}
.restaurants__title {
  padding: 10px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
  width: auto;
}
.card__img {
  height: 205px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__footer {
  display: flex;
  align-items: center;
}
.card__footer i {
  color: transparent;
  cursor: pointer;
  font-size: 27px;
  -webkit-text-stroke: 1px black;
}
.card__footer i:hover {
  background-image: linear-gradient(6deg, #ff79da 0%, #9356dc 100%);
  cursor: pointer;
  font-size: 27px;
  -webkit-text-stroke: 1px black;
}
.card__details {
  width: 90%;
}
.card__details h3, .card p {
  margin: 10px;
}
.card__inscription {
  position: relative;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 9px;
  border-radius: 5px;
  bottom: 190px;
  left: 230px;
}

@media screen and (min-width: 1000px) {
  .howto__steps {
    flex-direction: initial;
    justify-content: space-around;
    margin: auto;
    width: 90%;
  }

  .restaurants {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .card {
    width: 30%;
    height: 300px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  font-family: "Shrikhand", "cursive";
  font-size: 40px;
  color: black;
}

.header__search {
  padding: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  color: #3a3a3a;
}

.header__imputsearch {
  background-color: transparent;
  color: #3a3a3a;
  border: none;
  font-size: 1em;
  text-align: center;
  margin: -40px;
  font-weight: 900;
}

/*header menu*/
header a {
  display: flex;
  align-items: center;
}

header i {
  position: absolute;
  left: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #353535;
}
footer .footer__logo {
  font-family: "Shrikhand", "cursive";
  color: #FFFF;
  height: 50px;
  width: 200px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer i {
  margin-right: 10px;
}
footer a {
  color: #FFF;
}

@media screen and (min-width: 1000px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
/*menu*/
.arrow {
  display: flex;
  align-items: center;
  margin-top: -40PX;
  position: absolute;
  left: 10px;
}

.menu__img {
  max-width: 100%;
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  animation: slideDown 2s;
}
.menu__container {
  margin-top: -20px;
  padding: 10px;
  position: relative;
  z-index: 2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__container h2 {
  font-family: "shrikhand";
}
.menu h3 {
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: solid 2px #99E2D0;
  width: 30px;
  animation: slideDown 1.5s;
}
.menu__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.menu__header i {
  color: transparent;
  cursor: pointer;
  font-size: 27px;
  -webkit-text-stroke: 1px black;
}
.menu__header i:hover {
  background-image: linear-gradient(6deg, #ff79da 0%, #9356dc 100%);
  cursor: pointer;
  font-size: 27px;
  -webkit-text-stroke: 1px black;
}
.menu__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: slideDown 1.5s;
}
.menu__check {
  background-color: #99E2D0;
  color: #FFFF;
  padding: 10px;
  border-radius: 10px;
  margin-right: -57px;
  margin-left: 10px;
}
.menu__price {
  margin-top: 25px;
}

.infos {
  display: flex;
}

@media screen and (min-width: 1000px) {
  .menu {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 100%;
  }
  .menu__container {
    margin-top: -20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    position: relative;
    z-index: 2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .menu__order {
    width: 100%;
  }
  .menu__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .menu__header i {
    color: transparent;
    cursor: pointer;
    font-size: 27px;
    -webkit-text-stroke: 1px black;
  }
  .menu__check {
    background-color: #99E2D0;
    color: #FFFF;
    padding: 10px;
    border-radius: 10px;
    margin-right: -57px;
    margin-left: 10px;
  }
  .menu__price {
    margin-top: 25px;
  }

  .choice {
    margin: 10px;
  }
}
button {
  margin-top: 10px;
  border-radius: 30px;
  height: 7px;
  background-image: linear-gradient(6deg, #ff79da 0%, #9356dc 100%);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #FFFF;
  transform: scale(1);
  transition: transform 300ms;
}
button:hover {
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
}

.btn {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
