@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
h4, p {
  margin: 0px;
}

body {
  font-family: "roboto", "cursive";
  margin: 0px;
}

main {
  background-color: #F2F2F2;
  margin-top: 10px;
}

h1, h2 {
  font-family: "bold roboto";
}

.top__title {
  font-family: "shrikhand";
}

a {
  text-decoration: none;
  font-family: "roboto bold";
  color: black;
}

/*menu*/
header .fas {
  position: absolute;
  left: 10px;
}

.menu__img {
  max-width: 100%;
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
}
.menu__container h2 {
  font-family: "shrikhand";
}
.menu h3 {
  border-bottom: solid 6px lightseagreen;
  width: 30px;
}
.menu__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 0.75rem;
  margin-left: 12px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .menu {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 100%;
  }
  .menu__order {
    width: 100%;
  }

  .choice {
    margin: 10px;
  }
}
.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.howto {
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
}
.howto__title {
  padding: 10px;
}
.howto__icon {
  font-size: 20px;
  color: #7a7979;
  margin: 20px;
}
.howto p {
  font-size: 18px;
}
.howto__steps {
  display: flex;
  flex-direction: column;
}

.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 10px;
}
.restaurants__title {
  padding: 10px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
}
.card__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__footer {
  display: flex;
  align-items: center;
}
.card__footer i {
  cursor: pointer;
}
.card__details {
  width: 90%;
}
.card__details h3, .card p {
  margin: 10px;
}

@media screen and (min-width: 1000px) {
  .howto {
    align-items: center;
  }

  .restaurants {
    display: flex;
    width: 100%;
  }

  .card img {
    width: 300px;
    height: 200px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  height: 50px;
  width: 250px;
}

.header__search {
  padding: 20px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 25px;
  background-color: #353535;
}
footer .footer__logo {
  font-family: "Shrikhand", "cursive";
  color: #FFFF;
  height: 50px;
  width: 200px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer i {
  margin-right: 10px;
}
footer a {
  color: #FFF;
}

button {
  margin-top: 10px;
  border-radius: 20px;
  height: 30px;
  background-color: #9356DC;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
