



    
.exploration{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    &__button{

        
        background-color: khaki;
        
        
    }
}




.howto{

    display: flex;
    flex-direction: column; 
    
    
    &__icon{

        font-size: 20px;
        color: #7a7979;
        margin: 20px;
    }

    & p{

        font-size: 18px;
    }
    &__steps{
        
        display: flex;
        flex-direction: column;
    }
}




.restaurants{

    background-color: #f2f2f2;
    padding-bottom:10px;
 
    
}

.card{

    background-color: #fff;
    border-radius: 15px;
    margin: 20px;


    &__img{
        
        
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        
    }
    &__footer{

        display: flex;
        align-items: center;
    }
    &__footer i{

        cursor: pointer;
    }
    &__details{
        width: 90%
    }

    &__details h3,p  {

        margin: 10px;
        

    }
   
}

@media screen and (min-width: 1000px){

    .howto{

        
        align-items: center;
        
    }
    .restaurants{

        display: flex;
        width: 100%;
        
        
    }
}
