footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;


    .footer__logo{
        height: 50px;
        width: 200px;
    }


    & ul{

        list-style-type: none;
        padding: 0;
    }
    & i{

        margin-right: 10px;
    }



}    