header{

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.header__logo{
    font-family: "Shrikhand", "cursive";
    font-size: 40px;
    color: #3a3a3a
    
    
}


.header__search{
    padding: 20px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}
.header__imputsearch{
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-align: center;
    margin: -40px;
    font-weight: 900;
}

/*header menu*/
header a{ 

    display: flex;
    align-items: center;   
}
header i {

    position: absolute;
    left: 20px;
}