

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

h4,p{
    margin: 0px;
    font-weight: 200;
}

body{
    font-family: "roboto","cursive";
    margin: 0px;
}
main{
    background-color: #F2F2F2;
    margin-top: 10px;
}

h1,h2{
    font-family:"roboto";
    font-weight: 500;
}
.top__title { 

    font-family:'shrikhand'; 
}

a{
    text-decoration: none;
    font-family: "roboto bold";
    color:black;
}

.menu__container h4{
 font-weight: 700;

}
