@mixin btn {
    margin-top: 10px;;
    border-radius: 20px;
    height: 30px;
    background-color: $colour-gradiant;
    cursor: pointer;
    display: flex;
    align-items: center; 
    padding: 1.5%; 
    color: #FFFF;
}
